<div class="modal fade" id="editPersonsModel" aria-hidden="true" aria-labelledby="editPersonsModelLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editPersonsModelLabel">Edit Film Person Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="editPersonsform" role="form" method="POST" action="/update/filmpersons/id=">
                <input type="hidden" name="_method" value="PUT">
                <div class="row">
                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <div>
                            <input id="editpersonname" type="text" class="form-control input-lg" name="editpersonname" value="">
                        </div>
                    </div>
                </div>
                </br>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="control-label">Age</label>
                            <div>
                                <input id="editpersonage" type="number" class="form-control input-lg" value="" name="editpersonage">
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label class="control-label">Gender</label>
                            <div>
                                <input id="editpersongender" type="text" class="form-control input-lg" value="" name="editpersongender">
                            </div>
                        </div>
                    </div>
                </div>
                </br>
                <div class="row">
                    <div class="form-group">
                        <label class="control-label">Work Experience (in years)</label>
                        <div>
                            <input id="editpersonexperience" type="number" class="form-control input-lg" value="" name="editpersonexperience">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-shadow" data-bs-dismiss="modal">Clear</button>
            <button type="submit" form="editPersonsform" class="btn btn-primary btn-success btn-shadow">Save</button>
        </div>
      </div>
    </div>
</div>